
h1 {
  text-align: center;
  color:white;
}

.h2_sizing_positioning {
  
  margin-top: 11%;
  text-align: center;
  font-size: 600%;

}

.paragraph_sizing {

  text-align: center;
  font-size: 300%;
  color: white;

}

.navbar {

  background-color: #343a40;
  display: flex;
  position: fixed;
  width: 100%;

}

.table_sizing {
  margin-right: 30px;
  max-width: 20%;
}

.table_order_positioning {
  margin-right: 30px;
}

.homepage_image {

  width: 1000px;
  height: auto;
  margin-top: 30px;
  margin-left: 450px;

}

.footer {

  position: absolute;
  bottom: 0;
  width:100%;
  height: 50px;
  background-color: #343a40;
  text-align: center;
  color: white;

}